<h1>Contact us today</h1>
<form>
  <label for="name">Name</label>
  <input name="name" type="text" />
  <label for="email">Email</label>
  <input name="email" type="text" />
  <label for="message">Message</label>
  <textarea></textarea>
</form>