<div class="container">
  <h2>Image Gallery</h2>
  <p>combine products that fit with your element</p>
  <p></p>
  <p></p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://www.cepolina.com/photo/nature/mountains/air-views-mountain/4/air-view-mountain-waves-earth-ground.jpg" target="_blank" >
          <img class="img-circle"  src="http://www.cepolina.com/photo/nature/mountains/air-views-mountain/4/air-view-mountain-waves-earth-ground.jpg" alt="Nature" style="width:80%" "height:80%">
          <div class="caption">
            <p>Earth</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://parade.com/wp-content/uploads/2017/05/wind-gusts-advice-ask-marilyn-ftr.jpg" target="_blank">
          <img class="img-circle" src="https://parade.com/wp-content/uploads/2017/05/wind-gusts-advice-ask-marilyn-ftr.jpg" alt="Nature" style="width:80%" "height:80%">
          <div class="caption">
            <p>Wind</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://dreamicus.com/data/fire/fire-01.jpg" target="_blank">
          <img class="img-circle"  src="http://dreamicus.com/data/fire/fire-01.jpg" alt="Fjords" style="width:80%" "height:80%">
          <div class="caption">
            <p>Fire</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
