<div class="container">
  <h2>Gallery</h2>
  <p>try sequences that fit with your elements</p>
  <p></p>
  <img src="http://bwclearnspells.com/wp-content/uploads/2015/11/4_alchemical_symbols_elements_by_zeldaboyz-d4370wh.png" class="img-fluid" alt="Responsive image">

  <p></p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://www.cepolina.com/photo/nature/mountains/air-views-mountain/4/air-view-mountain-waves-earth-ground.jpg" target="_blank" >
          <img class="img.rounded"  src="https://i.pinimg.com/736x/a1/05/dd/a105dde8c2fb3b69206506b1d74761bc--bikram-yoga-postures-bikini-bod.jpg" alt="Nature" style="width:90%" "height:80%">
          <div class="caption">
            <p>fire</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://parade.com/wp-content/uploads/2017/05/wind-gusts-advice-ask-marilyn-ftr.jpg" target="_blank">
          <img class="img-rounded" src="http://www.jasonyoga.com/wp-content/uploads/winter_grounding_sequence2-843x1024.jpg" alt="Nature" style="width:90%" "height:80%">
          <div class="caption">
            <p>earth</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://dreamicus.com/data/fire/fire-01.jpg" target="_blank">
          <img class="img-rounded"  src="https://i.pinimg.com/736x/47/8e/74/478e747b2fd52f1a22b0c1d60265af64--basic-yoga-poses-simple-yoga-poses.jpg" alt="Fjords" style="width:90%" "height:80%">
          <div class="caption">
            <p>air</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://dreamicus.com/data/fire/fire-01.jpg" target="_blank">
          <img class="img-rounded"  src="https://i.pinimg.com/236x/4c/63/57/4c635779ba33785ca957e7336a1b066d--yoga-chart-fitness-yoga.jpg" alt="Fjords" style="width:90%" "height:80%">
          <div class="caption">
            <p>water</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://parade.com/wp-content/uploads/2017/05/wind-gusts-advice-ask-marilyn-ftr.jpg" target="_blank">
          <img class="img-rounded" src="http://www.jasonyoga.com/wp-content/uploads/winter_grounding_sequence2-843x1024.jpg" alt="Nature" style="width:90%" "height:80%">
          <div class="caption">
            <p>earth</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://dreamicus.com/data/fire/fire-01.jpg" target="_blank">
          <img class="img-rounded"  src="https://i.pinimg.com/736x/47/8e/74/478e747b2fd52f1a22b0c1d60265af64--basic-yoga-poses-simple-yoga-poses.jpg" alt="Fjords" style="width:90%" "height:80%">
          <div class="caption">
            <p>air</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
