
<div class="jumbotron text-center">

  <h1 style="font-size:500%;">Elemental Yoga</h1>
    <p>Yoga in your element</p>
  <img src="http://www.purityhealthandwellness.com/online-yoga.jpg" class="img-fluid" alt="Responsive image">

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Your Home</h3>
      <p>Let a teacher come to your into your personal element...</p>
      <p>we will create a sequence dedicated to your own personal space, health and environment...</p>
    </div>
    <div class="col-sm-4">
      <h3>Your Element</h3>
      <p>Pick an outdoor element to practice in...</p>
      <p>Our teachers will meet you in the park, on the beach, in the rain or in any element of your choice...</p>
    </div>
    <div class="col-sm-4">
      <h3>In Paradise</h3>
      <p>Sign up for one of our many retreats in a far away land...</p>
      <p>We have partnerships in Thailand, Hawaii, Mexico City and Ibiza...</p>
    </div>
  </div>
</div>
