
<div class="jumbotron text-center">

  <h1 style="color:#1d699b;font-size:600%;">Elemental Yoga</h1>
    <p style="color:#black;font-size:200%;">Yoga in your element</p>
  <img src="http://www.purityhealthandwellness.com/online-yoga.jpg" class="img-fluid" alt="Responsive image">

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="color:#cc9010;font-size:300%;">Your Home</h3>
      <p style="color:#134b6d; font-size:150%;">Let a teacher come to your own personal element...</p>
      <p style="color:black;">we will create a sequence dedicated to your own personal space, health and environment...</p>
    </div>
    <div class="col-sm-4">
      <h3 style="color:#dbb923;font-size:300%;">Your Element</h3>
      <p style="color:#134b6d; font-size:150%;">Pick an outdoor element to practice in...</p>
      <p style="color:black;">Our teachers will meet you in the park, on the beach, in the rain or in any element of your choice...</p>
    </div>
    <div class="col-sm-4">
      <h3 style="color:#cc9010;font-size:300%;">In Paradise</h3>
      <p style="color:#134b6d;font-size:150%;">Sign up for one of our many retreats in a far away land...</p>
      <p style="color:black;">We have partnerships in Thailand, Hawaii, San Jaun, Ibiza and many more...</p>
    </div>
  </div>
</div>
