<table>
	<tr class="monday">
		<th>Monday</th>
		<td>Mommy and Baby Yoga</td>
		<div class="mondayInfo">test</div>
	</tr>
	<tr>
		<th>Tuesday</th>
		<td></td>
	</tr>
	<tr>
		<th>Wednesday</th>
		<td></td>
	</tr>
	<tr>
		<th>Thursday</th>
		<td></td>
	</tr>
	<tr>
		<th>Friday</th>
		<td></td>
	</tr>
	<tr>
		<th>Saturday</th>
		<td></td>
	</tr>
	<tr>
		<th>Sunday</th>
		<td></td>
	</tr>
</table>