   <div id ="modal">
      <span id="close">&times;</span>    
      <p class="classInfo"></p>
      <img class = "classImg" src="" />
    </div>

<div class="tableContain">
<table>
	<tr class="monday">
		<th>Monday</th>
		<td>10 AM</td>
		<td>Mommy and Baby Yoga</td>
	</tr>
	<tr class="tuesday">
		<th>Tuesday</th>
		<td>1 PM</td>
		<td>Hot Power Yoga</td>
	</tr>
	<tr class="wednesday">
		<th>Wednesday</th>
		<td>5 PM</td>
		<td>Elemental Meditation</td>
	</tr>
	<tr class="thursday">
		<th>Thursday</th>
		<td>2PM</td>
		<td>Figure 4 Barre</td>
	</tr>
	<tr class="friday">
		<th>Friday</th>
		<td>11 AM</td>
		<td>Vinyasa Flow</td>
	</tr>
	<tr class="saturday">
		<th>Saturday</th>
		<td>9 AM</td>
		<td>Beginners Yoga</td>
	</tr>
	<tr class="sunday">
		<th>Sunday</th>
		<td>9 AM</td>
		<td>Community Yoga</td>
	</tr>
</table></div>

<footer id="contactFooter">
  <i class="fa fa-facebook"></i>
  <i class="fa fa-instagram"></i>
  <i class="fa fa-twitter"></i>
  <i class="fa fa-pinterest-p"></i>
  <div class="contactInfo"><a href="#">info@elementalyoga.com</a> / New York, NY / 555-555-1234</div>
</footer>