/*contact.erb*/

form, table {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.input {
	width: 400px;
	height: 40px;
}

#submit {
	border: none;
	font-size: 20px;
	padding: 3% 6%;
	border-radius: 12px;
}

tr {
	height: 50px;
}

textarea {
	width: 350px;
	height: 80px;
}

form {
	font-family: 'Quicksand', sans-serif;
}

#contactFooter {
	height: 70px;
	background-color: #333;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

footer {
	font-size: 30px;
	color: #fff;
	text-align: center;
}

footer i {
	padding-right: 1%;
	padding-top: 1%;
}

/*end of contact.erb*/

/*schedule.erb*/




/*nav.erb*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
	font-size: 20px;
    display: block;
    color: #fffae0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}


/*home.erb*/
.img-fluid  {

	    width: 100%;
	    height: auto;


}
.img-circle {
		border-radius: 50%;
}

* {
	font-family: 'Alegreya Sans SC', sans-serif;
	background-color:
}

h1 {
font-size: 100px;
}

/*gallery.erb*/

.container {
	background-color: grey;
	text-align: center;
}
